# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Required for OIDC (used for npm publish with Trusted publishing)
      packages: write
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn

      - run: yarn install --pure-lockfile
      - run: yarn prepack

      - name: Publish
        env:
          NPM_CONFIG_PROVENANCE: true
        run: |
          npm publish --no-git-checks --access public --registry https://registry.npmjs.org
